
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>İnvertör Analizi</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Verimlilik Grafiği</h5>
                    <canvas id="efficiencyChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sıcaklık Analizi</h5>
                    <canvas id="temperatureChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
